@import '../Colors';

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: $text-color;
  background-color: $primary-color;

  
  .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #abad9d;
  }
  

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 100px;
    
    height: 500px;

    .textAp {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      

      .getStart {
        background-color:$primary-color;
        color: $white-color;
        border: 2px $white-color solid;
        padding: 15px 20px;
        font-size: 18px;
        font-weight: 600;
        border-radius: 2vh;
      }
      .getStart:hover {
        border: 2px $text-color solid;
        background-color:#dbddcd;
      }
    }
    
    .overlay img {
      width: 130%;
      height: 100%;
      object-fit: cover;
      
    }
  }

  .line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    color: $white-color;
    background-color: $second-color;
    width: 100;
    height: 80px;
  }
}