@import '../Colors';

.container {
  background-color: $second-color;
  display: flex;
  padding: 24px;
  justify-content: center;
  align-items: center;
  gap: 200px;

  .content {
    color: #fafcfba1;
  }

  .buttons {
    display: flex;
    gap: 15px;

    button {
      padding: 10px 15px;
      background-color: $second-color;
      color: $white-color;
      border-radius: 2vh;
      border: 1px solid $white-color;
      font-size: large;
    }
  }
}