@import '../Colors';

.container {
  display: flex;
  justify-content: center;
  gap: 100px;
  color: $text-color;
  padding-top: 100px;

  position: relative;
  background: url('/assets/crumpled-white-paperboard.jpg');
  background-size: cover;
  width: 100%;

  .content {
    display: flex;
    align-items: flex-start;
  }

  .box {
    display: flex;
    gap: 30px;

    .contentBox {
      display: flex;
      flex-direction: column;
      border: 1px solid $white-color;
      padding: 15px;
      border-radius: 2vh;
      box-shadow: 5px 5px 100px #21402525;
      height: 200px;
      gap: 15px;
    }
    .contentBox:hover {
      border: 1px solid $second-color;
    }

    .contentBoxSpace {
      display: flex;
      gap: 30px;
      flex-direction: column;
      padding-bottom: 100px;
      width: 350px;
      
    }
  }
}