@import '../Colors';

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  background-color: $second-color;
  height: 550px;
  
  .overlay img {
    position: relative;
    width: 130%;
    height: 100%;
    object-fit: cover;
  }

  .content {
    display: flex;
    flex-direction: column;
    color: $white-color;
    margin: 48px;
    padding: 24px;
    border-radius: 2vh;
    box-shadow: 5px 5px 100px #bd9a51;
    gap: 15px;
    width: 550px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    gap: 0;
    height: 900px;

    .overlay img {
      width: 80%;
      height: 100%;
    }
  
    .content {
      margin: 15px;
      padding: 24px;
      gap: 15px;
      width: 90%;
      height: 900px;
      border: 1px solid red;
    }
  }
}