@import '../Colors';

.container {
  background-color: $text-color;
  display: flex;
  padding: 24px;
  justify-content: center;
  align-items: center;
  gap: 120px;

  .content {
    color: #fafcfba1;
    width: 85vh;
  }

  .buttons {
    display: flex;
    gap: 15px;

    button {
      cursor: pointer;
      padding: 10px 15px;
      background-color: $text-color;
      color: $primary-color;
      border-radius: 2vh;
      border: 1px solid $primary-color;
      font-size: large;
    }

    button a {
      text-decoration: none;
      list-style: none;
      color: $primary-color;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 60px;

    .content {
      width: 100%;
      display: flex;
      align-items: center;
      text-align: justify;
    }
  }
}
